<div id="<%= dom_id question %>">
  <div>
    <strong>Content:</strong>
    <%= question.content %>
  </div>

  <div>
    <strong>Answer:</strong>
    <%= question.answer %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= question.category %>
  </div>

  <div>
    <strong>Is starred:</strong>
    <%= question.is_starred %>
  </div>

</div>
