<p style="color: green"><%= notice %></p>

<div class="flex w-full flex-col">
  <div class="text-2xl">問題詳細</div>
</div>

<%= render @question %>

<div>
  <%= link_to "編集", edit_question_path(@question) %> |
  <%= link_to "一問一答一覧", questions_path %>

  <%= button_to "削除", @question, method: :delete %>
</div>
