<p style="color: green"><%= notice %></p>

<div class="flex justify-between items-center w-full">
  <div class="font-bold text-2xl">問題詳細</div>
  <div class="flex gap-x-2">
    <%= link_to "編集", edit_question_path(@question), class: "btn btn-outline btn-success" %>
    <%= button_to "削除", @question, method: :delete, class: "btn btn-outline btn-error" %>
  </div>
</div>

<div class="w-full">
  <div class="divider divider-neutral"></div>
</div>

<%= render @question %>

<div class="w-full">
  <div class="divider divider-neutral"></div>
</div>

<div>
  <%= link_to "一問一答一覧", questions_path, class: "btn" %>
</div>
